@use "src/Styles/_vars.scss" as c;

.recipe__form {
  .ingredients {
    .ingredient {
      display: flex;
      flex-direction: row;
      position: relative;
      input,
      .p-dropdown {
        margin: 1rem;
      }
      .bin {
        position: absolute;
        cursor: pointer;
        right: -3rem;
        color: c.$main-color;
        height: 1.5rem;
        width: 1.5rem;
        align-self: center;
      }
    }
  }
}

.p-autocomplete-panel {
  .p-autocomplete-items {
    text-align: left;
    .p-autocomplete-item:hover {
      color: white !important;
      background-color: c.$bandeau !important;
    }
  }
}
