@use "src/Styles/_vars.scss" as c;

.recipeContainer {
  display: flex;
  flex-direction: column;
  &_cards {
    padding: 3rem 8rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(18rem, 20rem));
    justify-content: center;
    gap: 0rem 3rem;
    .noCard {
      font-size: 1.2rem;
      line-height: 2rem;
      margin: 6rem 0;
    }
  }
  &_searchbar {
    margin-top: 4rem;
    display: flex;
    &__mobile {
      display: none;
    }
  }
  .p-paginator {
    margin-bottom: 2rem;
    background-color: transparent;
    &-page {
      color: c.$main-color !important;
      &.p-highlight,
      &:hover {
        color: white !important;
        background-color: c.$main-color !important;
      }
    }
    &-element {
      color: c.$main-color !important;
    }
  }
  &_loader {
    height: 25rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.shopping_list_checkboxes {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  span {
    margin-right: 1rem;
    margin-left: 0.25rem;
  }
}

@media (max-width: 1020px) {
  .recipeContainer {
    &_cards {
      padding: 2rem 1rem !important;
    }
    &_searchbar {
      display: flex;
      flex-direction: column;
      margin-top: 2rem;
      justify-content: center;
      &__mobile {
        cursor: pointer;
        font-weight: bold;
        display: flex;
        align-items: center;
        width: fit-content;
        background-color: white;
        border: 1px solid #dee2e6;
        border-radius: 6px;
        padding: 1rem;
        margin: 0 auto;
        .pi {
          margin-right: 0.5rem;
        }
      }
    }
  }
}
