@use "src/Styles/_vars.scss" as c;

.recipeContainer {
  display: flex;
  flex-direction: column;
  &_cards {
    padding: 3rem 8rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(18rem, 20rem));
    justify-content: center;
    gap: 0rem 3rem;
    .noCard {
      font-size: 1.2rem;
      line-height: 2rem;
      margin: 6rem 0;
    }
  }
  &_searchbar {
    margin-top: 4rem;
    display: flex;
  }
  .p-paginator {
    margin-bottom: 2rem;
    background-color: transparent;
    &-page {
      color: c.$main-color !important;
      &.p-highlight,
      &:hover {
        color: white !important;
        background-color: c.$main-color !important;
      }
    }
    &-element {
      color: c.$main-color !important;
    }
  }
  &_loader {
    height: 25rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .p-accordion {
    display: none;
  }
}

@media (max-width: 1020px) {
  .recipeContainer {
    .searchbar_container {
      display: none;
    }
    &_cards {
      padding: 2rem 1rem !important;
    }
    &_searchbar {
      margin-top: 2rem;
      justify-content: center;
      .p-accordion {
        display: block;
        &-content {
          padding: 0 1.25rem !important;
          background-color: c.$fond-page !important;
          border-radius: 10px !important;
          border: unset !important;
          .searchbar_container {
            width: unset;
            display: flex;
            flex-direction: column;
            padding: 0rem 1rem;
            background-color: c.$fond-page;
            border-radius: unset;
            box-shadow: unset;
            overflow: unset;
            .filter-icon {
              display: none;
            }
            .p-multiselect,
            .p-inputtext {
              margin: 0.5rem 0;
            }
          }
        }
      }
    }
  }
}
