$main-color: rgb(29, 38, 113); // #132554;
$beautifulBG: linear-gradient(to right, rgb(195, 55, 100), rgb(29, 38, 113));
// linear-gradient(to right,rgb(131, 58, 180),rgb(253, 29, 29),rgb(252, 176, 69));
// linear-gradient(to right, rgb(100, 145, 115), rgb(219, 213, 164));
// linear-gradient(to right, rgb(60, 165, 92), rgb(181, 172, 73));
// linear-gradient(to right, rgb(90, 63, 55), rgb(44, 119, 68));
// linear-gradient(to right, rgb(185, 43, 39), rgb(21, 101, 192));
// linear-gradient(to right,rgb(18, 194, 233),rgb(196, 113, 237),rgb(246, 79, 89));
// linear-gradient(to right, rgb(252, 74, 26), rgb(247, 183, 51));
// linear-gradient(to right, rgb(0, 0, 0), rgb(231, 76, 60));
// linear-gradient(to right, rgb(0, 0, 70), rgb(28, 181, 224));
// couleurs principales
$gris: #bebebe;
$noir-rp: #000638;
$orange: #f88c3d;
$bleu-texte-courant: #4a5574;
$bleu-clair: #d7d7eb;
$blanc: #fff;
$gris-picto: #8a8a8a;

// couleurs des fonds
$fond-page: #f1f3f6;
$fond-page-clair: #fafafa;
$fond-boutons-accueil: #00326e99;

// tailles limites
$large: 1480px;
$medium: 1200px;
$normal: 1000px;
$small: 830px;
$tiny: 400px;

// polices
//taille
$font-size-small: 0.8rem;
$font-size-x-small: 0.9rem;
$font-size-normal: 1rem;
$font-size-x-normal: 1.2rem;
$font-size-medium: 1.5rem;
$font-size-large: 2rem;
$font-size-x-large: 2.5rem;
