@use "src/Styles/_vars.scss" as c;

.p-sidebar {
  &-header {
    padding: 0.5rem 1rem !important;
    background-color: c.$main-color;
    .p-sidebar-close {
      color: white !important;
      &:hover {
        color: c.$main-color !important;
      }
    }
  }
  &-content {
    margin-top: 2rem;
  }
}
