@use "src/Styles/_vars.scss" as c;

.upload_image {
  .p-fileupload-choose {
    padding: 0.25rem 0.5rem !important;
    background: none !important;
    border: none !important;
    color: c.$main-color;
    &:hover {
      color: c.$main-color !important;
    }
  }
  .bouton_valider,
  .bouton_supprimer {
    width: 3rem;
    margin-top: 0;
    display: flex;
    border-radius: 50%;
    padding: 0 !important;
    width: 2.5rem;
    height: 2.5rem;
    .p-button-icon {
      margin-left: 0.7rem;
      margin-right: 0;
      align-self: center;
    }
  }
  .bouton_valider {
    background: #367e18;
    border-color: #367e18;
  }
  .bouton_supprimer {
    background: #cc3636;
    border-color: #cc3636;
  }
  .p-fileupload-buttonbar {
    flex-wrap: nowrap;
    background-color: white !important;
  }
  .p-fileupload-content {
    padding: 0 1rem !important;
    .p-progressbar {
      height: 0;
    }
  }
  .p-fileupload-row .p-button-danger,
  .p-fileupload-row .p-badge {
    display: none;
  }
}
