@use "src/Styles/_vars.scss" as c;

.searchbar_container {
  width: 63rem;
  padding: 1rem;
  background-color: white;
  border-radius: 50px;
  display: flex;
  align-items: center;
  box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.3);
  margin: 0 auto;
  .filters {
    display: flex;
    flex-direction: column;
    .group {
      margin: 1rem 0;
      display: flex;
      justify-content: space-evenly;
      &.false {
        display: none;
      }
      &.true {
        justify-content: unset;
      }
    }
  }
  .more {
    cursor: pointer;
    color: c.$bandeau;
    margin-left: 2rem;
    width: 2rem;
    height: 2rem;
  }
  .p-multiselect,
  .p-inputtext,
  .p-dropdown {
    margin: 0 1rem;
    width: 12rem;
    .p-multiselect-clear-icon {
      right: 1.5rem;
      top: 70%;
    }
  }
  .p-accordion {
    display: none;
  }
}

@media (max-width: 1050px) {
  .searchbar_container {
    .p-multiselect,
    .p-inputtext,
    .p-dropdown {
      margin: 0.5rem;
    }
  }
}
@media (max-width: 950px) {
  .searchbar_container {
    .p-multiselect,
    .p-inputtext,
    .p-dropdown {
      margin: 0;
      width: 12rem !important;
    }
    .filters {
      flex-direction: column;
      .group {
        margin: 0.5rem 0;
        flex-direction: column;
        &.true {
          margin: 0;
          margin-bottom: 1rem;
        }
        .p-dropdown-label {
          margin: 0;
        }
      }
    }
  }
}
