@use "src/Styles/_vars.scss" as c;

.searchbar_container {
  width: 80%;
  padding: 2rem 1rem;
  background-color: white;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.3);
  margin: 0 10%;
  transition: all ease-in-out 0.5s;
  overflow: hidden;
  &.false {
    width: 6rem;
  }
  .filter-icon {
    cursor: pointer;
    color: c.$bandeau;
    width: 2rem;
    height: 2rem;
  }
  .p-multiselect,
  .p-inputtext {
    margin: 0 1rem;
    .p-multiselect-clear-icon {
      right: 1.5rem;
      top: 70%;
    }
  }
  .p-accordion {
    display: none;
  }
}

@media (max-width: 1300px) {
  .searchbar_container {
    .p-multiselect,
    .p-inputtext {
      margin: 0;
    }
  }
}
@media (max-width: 1150px) {
  .searchbar_container {
    .p-multiselect,
    .p-inputtext {
      max-width: 10rem;
    }
  }
}
