@use "src/Styles/_vars.scss" as c;

.btn-blanc {
  border: 2px solid c.$main-color;
  background-color: transparent;
  box-sizing: border-box;
  border-radius: 30px;
  min-width: fit-content;
  height: 3rem;
  color: c.$main-color;
  transition: all 0.5s;
  padding: 0rem 1.5rem;
  font-weight: 700;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  svg {
    margin-right: 0.5rem;
    width: 1.5rem;
    height: 1.5rem;
  }
}
.btn-blanc:hover {
  cursor: pointer;
  background-color: c.$main-color;
  color: white;
}

@media screen and (max-width: c.$small) {
  .btn-blanc {
    font-size: small;
  }
}

.btn-bleu {
  background: c.$main-color;
  // background: c.$beautifulBG;
  border-radius: 30px;
  color: white;
  border: 1px solid c.$main-color;
  width: fit-content;
  height: 3rem;
  transition: all 0.5s;
  padding: 0rem 1.5rem;
  font-weight: 700;
  font-size: medium;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  svg {
    margin-right: 0.5rem;
    width: 1.5rem;
    height: 1.5rem;
  }
}
.btn-bleu:hover {
  cursor: pointer;
  background-color: transparent !important;
  color: c.$main-color;
}

@media screen and (max-width: c.$small) {
  .btn-bleu {
    font-size: small;
  }
}
