@use "src/Styles/_vars.scss" as c;

.navigation {
  font-family: "Dilgante Rocks", sans-serif;
  display: flex;
  justify-content: space-around;
  box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.4);
  ul {
    display: flex;
    margin: 2rem;
    list-style-type: none;
    height: 3rem;

    a {
      text-decoration: none;
      padding: 0.5rem 1.5rem;

      li {
        color: c.$main-color;
        transition: 0.2s;
        cursor: pointer;
        font-size: 1.3rem;
      }
    }

    .nav-active {
      position: relative;

      &::after {
        content: "";
        height: 4px;
        width: 0;
        background: c.$bandeau;
        position: absolute;
        border-radius: 10px;
        bottom: 0px;
        left: 50%;
        transform: translateX(-50%);
        animation: anim 0.6s ease forwards;
        @keyframes anim {
          to {
            width: 80%;
          }
        }
      }
    }
  }
  button {
    font-family: "Dilgante Rocks", sans-serif;
    margin-top: 2rem;
  }
  &_parameters {
    cursor: pointer;
    margin: 2rem;
    position: relative;
    img {
      object-fit: cover;
      width: 3rem;
      height: 3rem;
      border-radius: 50%;
    }
    .cooker {
      width: 3rem;
      height: 3rem;
      color: c.$main-color;
    }
    &:hover {
      .navigation_parameters_menu {
        display: flex;
        flex-direction: column;
      }
    }
    &_menu {
      position: absolute;
      right: -3.5rem;
      width: 10rem;
      display: none;
      background-color: white;
      color: c.$main-color;
      border-radius: 10px;
      z-index: 1001;
      &.visible {
        display: flex;
        flex-direction: column;
      }
      span {
        border-radius: 10px;
        padding: 0.5rem;
        font-size: 1.1rem;
        &:hover {
          background: c.$bandeau;
          color: white;
        }
      }
    }
  }
  .menu.mobile,
  .p-accordion {
    display: none;
  }
}

.p-accordion-header-link {
  padding: 0.75rem;
  font-size: 1.3rem;
  background-color: c.$fond-page !important;
  border: none !important;
  color: c.$main-color !important;
}

@media (max-width: 1220px) {
  .navigation ul {
    margin: 2rem 1rem;
    a {
      padding: 0.5rem 1rem;
    }
  }
}

@media (max-width: 1100px) {
  .navigation {
    ul {
      margin: 2rem 1rem;
      height: 2.5rem;
      a {
        padding: 0.5rem 1rem;
        li {
          font-size: 1.1rem !important;
        }
      }
    }
    button {
      height: 2.2rem;
      font-size: 0.9rem;
      svg {
        width: 1.5rem;
        height: 1.5rem;
      }
    }
    &_parameters {
      svg {
        width: 2rem !important;
        height: 2rem !important;
      }
    }
  }
}

@media (min-width: 950px) and (max-width: 1020px) {
  .navigation {
    button {
      padding: 0 0.5rem;
    }
    ul {
      padding-left: 0.5rem;
    }
  }
}

@media (max-width: 950px) {
  .navigation {
    align-items: center;
    .menu.desktop {
      display: none;
    }
    .bouton.first {
      margin-top: 0;
    }
    .bouton.second {
      display: none;
    }
    .p-accordion {
      display: block;
      align-self: center;
      width: 10rem;
      &-tab {
        position: relative;
      }
      &-content {
        z-index: 10001;
        position: absolute;
        border-radius: 10px !important;
        height: 11rem;
        width: 14rem;
        padding: 1rem 0.5rem !important;
        text-align: left;
        .menu.mobile {
          display: flex;
          flex-direction: column;
          margin: 0;
          padding: 0;
          a,
          li {
            width: fit-content;
          }
        }
      }
    }
  }
}

@media (max-width: 700px) {
  .navigation {
    flex-direction: column;
    align-items: flex-start;
    padding-left: 2rem;
    padding-bottom: 1rem;
    button {
      width: 12rem;
      margin: 0.5rem 0rem;
    }
    .p-accordion {
      align-self: unset;
    }
    &_parameters {
      position: absolute;
      top: 0;
      right: 2rem;
      margin-top: 1rem;
    }
  }
}
