@use "src/Styles/_vars.scss" as c;

.recipe__form {
  display: flex;
  flex-direction: column;
  margin: 3rem 0;
  &__group {
    display: flex;
    justify-content: center;
    .recipe__form__field {
      margin-right: 2rem;
    }
  }
  &__field {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem 0;
    h4 {
      margin-bottom: 0.5rem;
    }
    &-ingname input {
      width: 15rem;
    }
    &-quantity,
    &-unit {
      width: 10rem;
    }
    .checkboxes {
      display: flex;
      .checkbox {
        margin: 1rem 1rem;
        .p-radiobutton {
          margin-right: 0.25rem;
        }
      }
    }
    .bouton {
      border: none;
      font-size: 1.2rem;
      svg {
        width: 2rem;
        height: 2rem;
      }
    }
  }
  .bouton {
    align-self: center;
    margin: 2rem 0;
  }
  .p-divider {
    align-self: center;
    width: 50%;
    &::before {
      border-top: 3px #dee2e6;
    }
  }
}
.p-dropdown-items {
  text-align: left;
}

@media (max-width: 900px) {
  .recipe__form {
    margin: 3rem 1rem;
    &__group {
      flex-direction: column;
    }
    .checkboxes {
      flex-wrap: wrap;
    }
    .steps {
      width: 90% !important;
    }
    .ingredients {
      input,
      .p-dropdown {
        margin: 0.25rem !important;
      }
      .p-inputtext {
        width: 4rem !important;
      }
      .ingredient_name {
        .p-inputtext {
          width: 8rem !important;
        }
      }
      .recipe__form__field-unit {
        width: 8rem !important;
      }
    }
    .p-divider.p-divider-horizontal {
      margin: 0.25rem 0;
    }
  }
}
