@use "src/Styles/_vars.scss" as c;

.recipe__form {
  display: flex;
  flex-direction: column;
  margin: 3rem 0;
  &__group {
    display: flex;
    justify-content: center;
    .recipe__form__field {
      margin-right: 2rem;
    }
  }
  &__field {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem 0;
    h4 {
      margin-bottom: 0.5rem;
    }
    input {
      max-width: 20rem;
    }
    .checkboxes {
      display: flex;
      .checkbox {
        margin: 1rem 1rem;
        .p-checkbox {
          margin-right: 0.25rem;
        }
      }
    }
    .steps {
      width: 40%;
      .step {
        display: flex;
        flex-direction: row;
        width: 100%;
        position: relative;
        .bin {
          position: absolute;
          cursor: pointer;
          right: -3rem;
          color: c.$main-color;
          height: 1.5rem;
          width: 1.5rem;
          align-self: center;
        }
        .p-inputtextarea {
          margin: 1rem 0;
          width: 100%;
        }
      }
    }
    .ingredients {
      .ingredient {
        display: flex;
        flex-direction: row;
        position: relative;
        input,
        .p-dropdown {
          margin: 1rem;
        }
        .bin {
          position: absolute;
          cursor: pointer;
          right: -3rem;
          color: c.$main-color;
          height: 1.5rem;
          width: 1.5rem;
          align-self: center;
        }
        &_name {
          position: relative;
          &_autocomplete {
            position: absolute;
            display: flex;
            flex-direction: column;
            background-color: white;
            border-radius: 10px;
            top: 4rem;
            left: 1rem;
            width: 15rem;
            text-align: left;
            &.hidden {
              display: none;
            }
            span {
              padding: 0.5rem 0 0.5rem 0.5rem;
              &:hover {
                cursor: pointer;
                border-radius: 5px;
                // background-color: c.$gris;
                background: c.$beautifulBG;
                color: white;
              }
            }
          }
        }
      }
    }
    .btn-blanc {
      border: none;
      font-size: 1.2rem;
      svg {
        width: 2rem;
        height: 2rem;
      }
    }
  }
  .btn-bleu {
    align-self: center;
    margin: 2rem 0;
  }
  .p-divider {
    align-self: center;
    width: 50%;
    &::before {
      border-top: 3px #dee2e6;
    }
  }
}
.p-dropdown-items {
  text-align: left;
}
