@use "src/Styles/_vars.scss" as c;

.shoppingList_container {
  margin: 5% auto;
  display: flex;
  justify-content: center;
  align-items: center;
  &_export {
    display: flex;
    width: 60%;
    flex-direction: column;
    &_recipes {
      display: flex;
      flex-direction: column;
    }
    .bouton {
      align-self: center;
    }
  }
  &_home {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    width: 40rem;
    height: 25rem;
    margin: 5rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    .bouton {
      color: white !important;
      font-size: 1.2rem;
      &:hover {
        border: 1px solid white !important;
      }
      &::after {
        background-color: c.$main-color !important;
      }
    }
  }
}

.choose_recipe {
  width: 100% !important;
  .p-dialog-content {
    background-color: c.$fond-page !important;
    .bouton {
      margin-top: 3rem;
      margin-left: 45%;
      &::after {
        background-color: c.$fond-page;
      }
    }
  }
}

.recipeCard.cardHover.chosen {
  border: 5px solid green;
  position: relative;
  .chosen_check {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 5rem;
    height: 5rem;
    color: green;
  }
}

.modal_liste_courses {
  display: flex;
  flex-direction: column;
  align-items: center;
  .bouton {
    margin-top: 1rem;
    &.copied {
      border-color: green;
      color: white;
      &::after {
        background-color: green;
      }
    }
  }
}

@media (max-width: 700px) {
  .choose_recipe {
    .recipeCard {
      width: 18rem;
    }
    .bouton {
      margin-left: 22% !important;
    }
  }
  .shoppingList_container {
    justify-content: flex-start;
    &_export {
      margin: 0 0.5rem;
      width: 100%;
      &_recipes_recipe {
        flex-direction: column;
        img {
          width: 100% !important;
          height: unset !important;
        }
        .infos_top {
          flex-direction: column;
        }
      }
    }
  }
  .modal_liste_courses_modal {
    width: 90% !important;
  }
}
